VioletBookDiary/Connected Services/MyServices/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8304/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8304/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8304/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:getAuthors" />
  </wsdl:message>
  <wsdl:message name="IService_getAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getGenrs_InputMessage">
    <wsdl:part name="parameters" element="tns:getGenrs" />
  </wsdl:message>
  <wsdl:message name="IService_getGenrs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGenrsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getTags_InputMessage">
    <wsdl:part name="parameters" element="tns:getTags" />
  </wsdl:message>
  <wsdl:message name="IService_getTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getPaints_InputMessage">
    <wsdl:part name="parameters" element="tns:getPaints" />
  </wsdl:message>
  <wsdl:message name="IService_getPaints_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaintsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAuthorsBook_InputMessage">
    <wsdl:part name="parameters" element="tns:getAuthorsBook" />
  </wsdl:message>
  <wsdl:message name="IService_getAuthorsBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAuthorsBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getTagsBook_InputMessage">
    <wsdl:part name="parameters" element="tns:getTagsBook" />
  </wsdl:message>
  <wsdl:message name="IService_getTagsBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTagsBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getGenresBook_InputMessage">
    <wsdl:part name="parameters" element="tns:getGenresBook" />
  </wsdl:message>
  <wsdl:message name="IService_getGenresBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGenresBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getFeedBackBook_InputMessage">
    <wsdl:part name="parameters" element="tns:getFeedBackBook" />
  </wsdl:message>
  <wsdl:message name="IService_getFeedBackBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFeedBackBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getPaintBook_InputMessage">
    <wsdl:part name="parameters" element="tns:getPaintBook" />
  </wsdl:message>
  <wsdl:message name="IService_getPaintBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaintBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getBookMarks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBookMarks" />
  </wsdl:message>
  <wsdl:message name="IService_getBookMarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBookMarksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addBookMarks_InputMessage">
    <wsdl:part name="parameters" element="tns:addBookMarks" />
  </wsdl:message>
  <wsdl:message name="IService_addBookMarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:addBookMarksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_editBookMarks_InputMessage">
    <wsdl:part name="parameters" element="tns:editBookMarks" />
  </wsdl:message>
  <wsdl:message name="IService_editBookMarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:editBookMarksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBooks" />
  </wsdl:message>
  <wsdl:message name="IService_getBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooks" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClearDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearDataBase" />
  </wsdl:message>
  <wsdl:message name="IService_ClearDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBook_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBook" />
  </wsdl:message>
  <wsdl:message name="IService_EditBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddFeedBack_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFeedBack" />
  </wsdl:message>
  <wsdl:message name="IService_AddFeedBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFeedBackResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddPaint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPaint" />
  </wsdl:message>
  <wsdl:message name="IService_AddPaint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaintResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUserCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserCallBack" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUserCallBack_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserCallBackResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Registration" message="tns:IService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegistrationResponse" message="tns:IService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAuthors" message="tns:IService_getAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAuthorsResponse" message="tns:IService_getAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGenrs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getGenrs" message="tns:IService_getGenrs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getGenrsResponse" message="tns:IService_getGenrs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getTags" message="tns:IService_getTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getTagsResponse" message="tns:IService_getTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPaints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getPaints" message="tns:IService_getPaints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getPaintsResponse" message="tns:IService_getPaints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAuthorsBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAuthorsBook" message="tns:IService_getAuthorsBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAuthorsBookResponse" message="tns:IService_getAuthorsBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTagsBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getTagsBook" message="tns:IService_getTagsBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getTagsBookResponse" message="tns:IService_getTagsBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGenresBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getGenresBook" message="tns:IService_getGenresBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getGenresBookResponse" message="tns:IService_getGenresBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserInfo" message="tns:IService_getUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserInfoResponse" message="tns:IService_getUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFeedBackBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getFeedBackBook" message="tns:IService_getFeedBackBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getFeedBackBookResponse" message="tns:IService_getFeedBackBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPaintBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getPaintBook" message="tns:IService_getPaintBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getPaintBookResponse" message="tns:IService_getPaintBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBookMarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getBookMarks" message="tns:IService_getBookMarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getBookMarksResponse" message="tns:IService_getBookMarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addBookMarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addBookMarks" message="tns:IService_addBookMarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addBookMarksResponse" message="tns:IService_addBookMarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editBookMarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/editBookMarks" message="tns:IService_editBookMarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/editBookMarksResponse" message="tns:IService_editBookMarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getBooks" message="tns:IService_getBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getBooksResponse" message="tns:IService_getBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBooks" message="tns:IService_DeleteBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBooksResponse" message="tns:IService_DeleteBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Disconnect" message="tns:IService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DisconnectResponse" message="tns:IService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClearDataBase" message="tns:IService_ClearDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClearDataBaseResponse" message="tns:IService_ClearDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBook" message="tns:IService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBookResponse" message="tns:IService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBook" message="tns:IService_EditBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBookResponse" message="tns:IService_EditBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFeedBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddFeedBack" message="tns:IService_AddFeedBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddFeedBackResponse" message="tns:IService_AddFeedBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPaint">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddPaint" message="tns:IService_AddPaint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddPaintResponse" message="tns:IService_AddPaint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OnCallback" message="tns:IService_OnCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserCallBack" message="tns:IService_UpdateUserCallBack_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUserCallBackResponse" message="tns:IService_UpdateUserCallBack_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IService/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthors">
      <soap12:operation soapAction="http://tempuri.org/IService/getAuthors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGenrs">
      <soap12:operation soapAction="http://tempuri.org/IService/getGenrs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTags">
      <soap12:operation soapAction="http://tempuri.org/IService/getTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaints">
      <soap12:operation soapAction="http://tempuri.org/IService/getPaints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthorsBook">
      <soap12:operation soapAction="http://tempuri.org/IService/getAuthorsBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTagsBook">
      <soap12:operation soapAction="http://tempuri.org/IService/getTagsBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGenresBook">
      <soap12:operation soapAction="http://tempuri.org/IService/getGenresBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IService/getUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeedBackBook">
      <soap12:operation soapAction="http://tempuri.org/IService/getFeedBackBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaintBook">
      <soap12:operation soapAction="http://tempuri.org/IService/getPaintBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookMarks">
      <soap12:operation soapAction="http://tempuri.org/IService/getBookMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBookMarks">
      <soap12:operation soapAction="http://tempuri.org/IService/addBookMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editBookMarks">
      <soap12:operation soapAction="http://tempuri.org/IService/editBookMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooks">
      <soap12:operation soapAction="http://tempuri.org/IService/getBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooks">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearDataBase">
      <soap12:operation soapAction="http://tempuri.org/IService/ClearDataBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap12:operation soapAction="http://tempuri.org/IService/AddBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <soap12:operation soapAction="http://tempuri.org/IService/EditBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFeedBack">
      <soap12:operation soapAction="http://tempuri.org/IService/AddFeedBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaint">
      <soap12:operation soapAction="http://tempuri.org/IService/AddPaint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/OnCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserCallBack">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateUserCallBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8305/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8305/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-PG6MT9M\Diana</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>